<h1 id="mytitle">Tablero Kanban</h1>
<div class="container">
        <div class="column">
            <!-- Contenido de la primera columna -->
             <h2>Backlog</h2>
                @for (item of listaTareas; track item; let index = $index) {

                    @if(item.status === enumStatus.Backlog ){ 
                        <tarea-component [index]="index" [tarea]="item"></tarea-component>
                    }
                }
        </div>
        <div class="column">
    
             <h2>En curso</h2>
             @for (item of listaTareas; track item; let index = $index) {

                @if(item.status === enumStatus.EnProceso ){ 
                    <tarea-component [index]="index" [tarea]="item"></tarea-component>
                }
            }

        </div>
        <div class="column">
             <h2>Finalizado</h2>
             @for (item of listaTareas; track item; let index = $index) {
                @if(item.status === enumStatus.Finalizado ){
                    <tarea-component [index]="index" [tarea]="item"></tarea-component>
                }
            }
        </div>
</div>

<todo-input (onTodoAdded)="agregarTarea($event)"></todo-input>
